@charset "UTF-8";
* {
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Hind", sans-serif, 微軟正黑體;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #FF8D0A;
}

.centerbox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.block {
  width: 270px;
  height: 520px;
  background-color: #EDEDED;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-0.1px) scale(1.001);
          transform: translateZ(-0.1px) scale(1.001);
  -webkit-animation: expand 1s 1;
          animation: expand 1s 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
}
.block:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-0.5px) scale(1.005);
          transform: translateZ(-0.5px) scale(1.005);
}

@-webkit-keyframes expand {
  0% {
    height: 100px;
  }
  100% {
    height: 450px;
  }
}

@keyframes expand {
  0% {
    height: 100px;
  }
  100% {
    height: 450px;
  }
}
.top {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-0.1px) scale(1.001);
          transform: translateZ(-0.1px) scale(1.001);
  background-color: #5272F2;
  width: 100%;
  height: 180px;
}
.top:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-1px) scale(1.01);
          transform: translateZ(-1px) scale(1.01);
  height: 190px;
}

.head {
  background-color: #1D41D1;
  width: 100%;
  height: 24px;
}
.head:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-0.5px) scale(1.005);
          transform: translateZ(-0.5px) scale(1.005);
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #FA5555;
  border-radius: 100%;
  position: absolute;
  bottom: -28px;
  right: 28px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-0.1px) scale(1.001);
          transform: translateZ(-0.1px) scale(1.001);
  cursor: pointer;
  z-index: 1000;
}
.btn:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-0.5px) scale(1.005);
          transform: translateZ(-0.5px) scale(1.005);
  background-color: #fff;
  border-color: #FA5555;
}
.btn:hover::before, .btn:hover::after {
  background-color: #FA5555;
}
.btn:hover::before {
  -webkit-transform: translateX(-50%) translateY(-55%) rotate(0deg);
          transform: translateX(-50%) translateY(-55%) rotate(0deg);
}
.btn:hover::after {
  -webkit-transform: translateX(-50%) translateY(-45%) rotate(0deg);
          transform: translateX(-50%) translateY(-45%) rotate(0deg);
}
.btn::before, .btn::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  content: "";
  width: 32px;
  height: 4px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.btn::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.btn:active {
  -webkit-transform: scale(15);
          transform: scale(15);
  background-color: #FA5555;
}
.btn:active::before, .btn:active::after {
  opacity: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.block, .top, .head, .btn {
  box-sizing: border-box;
}

.head {
  padding: 20px;
}

@-webkit-keyframes textup {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes textup {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
h1 {
  color: #EDEDED;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-left: 13px;
  margin-bottom: 0px;
  -webkit-animation: textup 0.5s;
          animation: textup 0.5s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: textup 0.5s;
          animation: textup 0.5s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

h6 {
  margin-top: -2px;
  color: #EDEDED;
  margin-left: 14px;
  letter-spacing: 2px;
  font-size: 12px;
  -webkit-animation: textup 0.5s;
          animation: textup 0.5s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.excir {
  -webkit-animation: exp 1.4s;
          animation: exp 1.4s;
  width: 1000px;
  height: 1000px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  position: absolute;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  border-radius: 100%;
  z-index: -1;
}

.bottom_bar {
  position: absolute;
  background-color: #404040;
  width: 100%;
  height: 20px;
  bottom: 0px;
}

@-webkit-keyframes exp {
  0% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: transparent;
  }
}

@keyframes exp {
  0% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: transparent;
  }
}
.toggle {
  width: 50px;
  height: 50px;
  background-color: #333;
}

input[type="checkbox"] {
  display: none;
}

.toggle {
  width: 40px;
  height: 14px;
  border-radius: 7px;
  background-color: #666666;
  cursor: pointer;
  z-index: 5;
  display: inline-block;
}
.toggle .circle {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #404040;
  top: 50%;
  left: 0%;
  -webkit-transform: translateX(0%) translateY(-50%);
          transform: translateX(0%) translateY(-50%);
}

label {
  display: inline-block;
  left: 50px;
  top: 50px;
  margin-top: 10px;
  z-index: 100;
}
label::before {
  content: "";
  display: inline-block;
  width: 120px;
  background-color: #aaa;
  margin-right: 20px;
  height: 10px;
  line-height: 10px;
}

input[type="checkbox"]:checked + .toggle {
  background-color: #fc9f9f;
}
input[type="checkbox"]:checked + .toggle .circle {
  background-color: #FA5555;
  left: 100%;
  -webkit-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
}
