body, html {
  margin: 0;
  padding: 0;
}

svg {
  margin-top: -10px;
  border-top: 0px;
  padding-top: 0px;
  width: 50px;
  border: none;
}

#pic3 {
  stroke: #136F63;
  stroke-width: 10px;
  fill: none;
}
#pic3 circle {
  fill: #136F63;
}

.nothing {
  height: 105px;
  width: auto;
  background-color: #131F2C;
}

.nav {
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  /* fixed 使 nav 固定在最上方*/
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  box-sizing: border-box;
  color: #14213D;
  display: inline-block;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 20px;
  text-transform: uppercase;
}

#logo {
  color: #136F63;
  font-family: 'Nunito', cursive;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0px 50px;
  text-transform: none;
  margin-bottom: -10px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.nav li:hover {
  letter-spacing: 1px;
  cursor: pointer;
}

.nav li:active {
  color: #F34213;
}

body{
  background:black;
}

.container{
  position:relative;
  width:auto;
  height:auto;
  background:#131F2C;
  margin: 0px auto;
  overflow:hidden;

}

@keyframes brillo{
0%{box-shadow:0 0 3px 3px rgba(255,255,255,.3);
 }

50%{box-shadow:0 0 3px 3px rgba(255,255,255,.7);
 }
100%{box-shadow:0 0 3px 3px rgba(255,255,255,.3);
; }



}
.estrellas{
  position:fixed;
  width:9px;
  height:9px;
  border-radius:100%;
  background:#ccc;
  box-shadow:0 0 3px 3px rgba(255,255,255,.3);
  margin:121px 121px;

}
.estrellas::before{
  content:"";
  position:fixed;
  width:9px;
  height:9px;
  border-radius:100%;
  background:#ccc;
  box-shadow:0 0 3px 3px rgba(255,255,255,.3);
  margin:121px 121px;
}
.estrellas::after{
  content:"";
  position:fixed;
  width:9px;
  height:9px;
  border-radius:100%;
  background:#ccc;
  box-shadow:0 0 3px 3px rgba(255,255,255,.3);
  margin:0px 521px;
}
.estrellas3{
  position:fixed;
  width:9px;
  height:9px;
  border-radius:100%;
  background:#ccc;
  box-shadow:0 0 3px 3px rgba(255,255,255,.3);
  margin:241px 550px
}
.estrellas3::before{
  content:"";
  position:fixed;
  width:7px;
  height:7px;
  border-radius:100%;
  background:#ccc;
  box-shadow:0 0 3px 3px rgba(255,255,255,.3);
  margin:90px -500px
}
.estrellas3::after{
  content:"";
  position:fixed;
  width:7px;
  height:7px;
  border-radius:100%;
  background:#ccc;
  box-shadow:0 0 3px 3px rgba(255,255,255,.3);
  margin:90px 172px
}
.luna{
  position:fixed;
  width:112px;
  height:112px;
  border-radius:100%;
  background:#ccc;
  margin: 70px 350px;
  box-shadow:0 0 70px #FFf;
}
.baloons{
  position:fixed;
  margin:30px 30px;
  animation: va 30s linear infinite;
}
.baloon1, .baloon2{
  position:fixed;
  width:90px;
  height:90px;
  border-radius:100%;
  background:#333;

}
.baloon1{
  margin:241px 830px;
  animation:sube 12s alternate infinite;
}
.baloon2{
  margin:221px 950px;
  transform:scale(.9);
   animation:sube3 12s alternate infinite;
}
.baloon1::before, .baloon2::before{
  content:"";
  position:fixed;
  width:80px;
  height:83px;
  border-radius:100%;
    margin:4px 3px
}
.baloon1::before{
  background:#05A9CE;
  border-right:5px solid #0D7090;
}
.baloon2::before{
  background:#EB5385;
  border-right:5px solid #C9334C;
}
.cesta{
  position:fixed;
   border-top: 30px solid #333;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  height: 0;
  width: 30px;
  margin:112px 21px
}
.cesta::before{
  content:"";
  position:fixed;
   border-top: 25px solid #83939C;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 27px;
  margin:-27px -8px
}
.refle{
  position:fixed;
   width: 70px;
   height:30px;
  border-radius: 121px 121px 0 0;
  border-top:7px solid white;
  margin:12px 0px;
  transform:rotate(-35deg)
}

.hilos{
  position:fixed;
  width:3px;
  height:60px;
  background:#333;
  transform:rotate(-21deg);
  margin:80px 30px
}
.hilos::before{
  content:"";
  position:fixed;
  width:3px;
  height:53px;
  background:#333;
  transform:rotate(42deg);
  margin:9px 30px
}

.viento{
  position:fixed;
  width:70px;
  height:9px;
  border-radius:6px;
  background:#344656;
  margin:142px 75px


}
.viento::before{
  content:"";
  position:fixed;
  width:50px;
  height:9px;
  border-radius:6px;
  background:#344656;
  margin:14px 33px


}
.viento::after{
  content:"";
  position:fixed;
  width:21px;
  height:9px;
  border-radius:6px;
  background:#344656;
  margin:0px 75px


}
.hills{
  position:fixed;
  width:400px;
  height:231px;
  border-radius: 231px 231px 0 0;
  background:#161B26;
  border-top:7px solid #131921;
  margin:470px -53px
}
.hills::after{
  content:"";
  position:fixed;
  width:300px;
  height:152px;
  border-radius: 231px 231px 0 0;
  background:#161B26;
  border-top:7px solid #131921;
  margin:12px 312px
}
.hills::before{
  content:"";
  position:fixed;
  width:400px;
  height:231px;
  border-radius: 231px 231px 0 0;
  background:#161B26;
  border-top:7px solid #131921;
  margin:0px 512px
}

@keyframes va{
  0%{transform:translatex(0px) }
  100%{transform:translatex(-1132px) }
}
@keyframes sube{
  0%{transform:translatey(-21px)}
  35%{transform:translatey(-12px)}
  50%{transform:translatey(12px) }
  70%{transform:translatey(-12px) }
}
@keyframes sube3 {
  0%{margin-top:221px  }
  35%{margin-top:212px  }
  50%{margin-top:231px }
  70%{margin-top:221px }
}

.trial {
  color: white;
  border: solid 2px transparent;
  margin: 0 auto;
  padding: 10px 10px;
  height: auto;
  background-size: cover;
  position: relative;
  display: block;
  left: auto;
  top: auto;
  font-family: Helvetica, sans-serif, 微軟正黑體;
  font-weight: 500;
}

.hl {
  color: transparent;
}

/*三色測試*/

.skillset {
  /*以下兩行程式碼可以讓方塊變化比較 ok*/
  display: flex;
  flex-wrap: wrap;
    /*以上兩行程式碼可以讓方塊變化比較 ok*/
  border-radius: 5px;
}

.skill-html {
  background-color: #E55126;
}

.skill-js {
  background-color: #E5A227;
}

.skill-jquery {
  background-color: #0C73B8;
}

.skill-html, .skill-js, .skill-jquery {
  position: relative;
  display: inline-block;
  width: 30em;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
  border-radius: 5px;
}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
  border-radius: 5px;
}

/*三色測試*/


/*IOH 測試*/
.IOH {
  /*overflow: hidden;*/
  border: solid 2px black;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: black;
  transition-duration: 1s;
  cursor: pointer;
  color: black;
}

.IOH .cap {
  opacity: 0;
  position: absolute;
  display: inline-block;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  top: 60%;
  left: 19%;
}

.IOH:active .cap {
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  opacity: 1;
  position: absolute;
  display: inline-block;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  top: 47.5%;
  left: 19%;
}

.IOH:hover {
  background-color: lightgray;
}

.IOH:hover .I_1, .IOH:hover .O_1, .IOH:hover .H_1, .IOH:hover .H_2, .IOH:hover .H_3 {
  width: 170px;
}

.IOH .I_1, .IOH .O_1, .IOH .H_1, .IOH .H_2, .IOH .H_3, .IOH .V {
  width: 150px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 0.5s;
}

.IOH:hover .I_1 {
  top: 50%;
  left: 21%;
  width: 17.5px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}

.IOH:hover .O_1 {
  box-sizing: border-box;
  border: red solid 17.5px;
  border-radius: 100%;
  top: 50%;
  left: 41%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
}

.IOH:hover .H_1 {
  top: 50%;
  left: 61%;
  width: 17.5px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}

.IOH:hover .H_2 {
  top: 50%;
  left: 69%;
  width: 50px;
  height: 17.5px;
  background-color: red;
  z-index: 1000;
}

.IOH:hover .H_3 {
  top: 50%;
  left: 77%;
  width: 17.5px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}

.IOH:active .I_1 {
  top: 35%;
  left: 20%;
}

.IOH:active .O_1 {
  top: 35%;
  left: 41%;
}

.IOH:active .H_1 {
  top: 35%;
  left: 61%;
}

.IOH:active .H_2 {
  top: 35%;
  left: 69%;
}

.IOH:active .H_3 {
  top: 35%;
  left: 77%;
}

.box, .block {
  border: solid 2px black;
}

.box {
  width: 850px;
  height: 300px;
  position: relative;
  background-color: gray;
}

.block {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

.block1 {
  left: 120px;
  animation: ani1 2s infinite;
}

.block2 {
  left: 300px;
  animation: ani2 2s infinite;
}

.block3 {
  left: 450px;
  animation: ani3 2s infinite;
}

.block4 {
  left: 600px;
  animation: ani4 2s infinite;
}

.block5 {
  left: 750px;
  animation: ani5 2s infinite;
}

@keyframes ani1 {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 0px;
    background-color: red;
  }
  100% {
    bottom: 100px;
  }
}
@keyframes ani2 {
  0% {
    bottom: 100px;
  }
  30% {
    background-color: white;
    transform: rotate(0deg);
  }
  50% {
    bottom: 0px;
    background-color: blue;
    transform: rotate(180deg);
  }
  70% {
    background-color: white;
    transform: rotate(0deg);
  }
  100% {
    bottom: 100px;
  }
}
@keyframes ani3 {
  0% {
    bottom: 100px;
    transform: scale(1);
  }
  30% {
    background-color: white;
  }
  50% {
    bottom: 0px;
    transform: scale(0.5);
    background-color: yellow;
  }
  70% {
    background-color: white;
  }
  100% {
    bottom: 100px;
    transform: scale(1);
  }
}
@keyframes ani4 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(50px, 0px);
    background-color: green;
  }
  40% {
    transform: translate(50px, -50px);
    background-color: white;
  }
  60% {
    transform: translate(0px, -50px);
    background-color: green;
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ani5 {
  0% {
    transform: skewX(20deg);
    transform-origin: 0% 100%;
    background-color: orange;
  }
  50% {
    transform: skewX(-20deg);
    transform-origin: 0% 100%;
    background-color: white;
  }
  100% {
    transform: skewX(20deg);
    transform-origin: 0% 100%;
    background-color: orange;
  }
}

.b {
  width: 70px;
  height: 70px;
  border: solid 2px;
}


/*.IOH .V {
  z-index: 10000;
}*/

/*IOH 測試*/
