body, html {
  background-color: #333;
  margin: 0;
  padding: 0;
}

svg {
  margin-top: -10px;
  border-top: 0px;
  padding-top: 0px;
  width: 50px;
  border: none;
}

#pic3 {
  stroke: #136F63;
  stroke-width: 10px;
  fill: none;
}
#pic3 circle {
  fill: #136F63;
}

.nothing {
  height: 105px;
  width: auto;
}

.nav {
  background-color: rgba(255, 255, 255, 0.85);
  overflow-y: auto;
  /* fixed 使 nav 固定在最上方*/
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  box-sizing: border-box;
  color: #14213D;
  display: inline-block;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 20px;
  text-transform: uppercase;
}

.nav li:hover {
  letter-spacing: 1px;
  cursor: pointer;
}

.nav li:active {
  color: #F34213;
}

#logo {
  color: #136F63;
  font-family: 'Nunito', cursive;
  font-size: 32px;
  font-weight: 700;
  padding: 0px 50px;
  text-transform: none;
  margin-bottom: -10px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.trial {
  border: solid 2px black;
  margin: 0 auto;
  padding: 10px 10px;
  height: 400px;
  background-size: cover;
  position: relative;
  display: block;
  left: auto;
  top: auto;
}

/*cross 測試*/
.cross1 {
  border: solid 2px;
  width: 200px;
  height: 200px;
  position: relative;
  justify-content: center;
  background-color: #fcdf1e;
  transition-duration: 0.5s;
  cursor: pointer;
}

.cross1:hover {
  background-color: #fc5d1e;
}
.cross1:hover .line1, .cross1:hover .line2, .cross1:hover .line3 {
  width: 170px;
}
.cross1:hover .line1 {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cross1:hover .line2 {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cross1:hover .line3 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
.cross1 .line1, .cross1 .line2, .cross1 .line3 {
  width: 150px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 0.5s;
}
.cross1 .line1 {
  transform: translateX(-50%) translateY(200%);
}
.cross1 .line2 {
  transform: translateX(-50%) translateY(-200%);
}

.cross1 .line3 {
  transform: translateX(-50%);
}
/*cross 測試*/

/*IOH 測試*/
.IOH {
  /*overflow: hidden;*/
  border: solid 2px;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: black;
  transition-duration: 1s;
  cursor: pointer;
}

.IOH .cap {
  opacity: 0;
  position: absolute;
  display: inline-block;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  top: 60%;
  left: 19%;
}

.IOH:active .cap {
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  opacity: 1;
  position: absolute;
  display: inline-block;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  top: 47.5%;
  left: 19%;
}

.IOH:hover {
  background-color: lightgray;
}

.IOH:hover .I_1, .IOH:hover .O_1, .IOH:hover .H_1, .IOH:hover .H_2, .IOH:hover .H_3 {
  width: 170px;
}

.IOH .I_1, .IOH .O_1, .IOH .H_1, .IOH .H_2, .IOH .H_3, .IOH .V {
  width: 150px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 0.5s;
}

.IOH:hover .I_1 {
  top: 50%;
  left: 21%;
  width: 17.5px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}

.IOH:hover .O_1 {
  box-sizing: border-box;
  border: red solid 17.5px;
  border-radius: 100%;
  top: 50%;
  left: 41%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
}

.IOH:hover .H_1 {
  top: 50%;
  left: 61%;
  width: 17.5px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}

.IOH:hover .H_2 {
  top: 50%;
  left: 69%;
  width: 50px;
  height: 17.5px;
  background-color: red;
  z-index: 1000;
}

.IOH:hover .H_3 {
  top: 50%;
  left: 77%;
  width: 17.5px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}

.IOH:active .I_1 {
  top: 35%;
  left: 20%;
}

.IOH:active .O_1 {
  top: 35%;
  left: 41%;
}

.IOH:active .H_1 {
  top: 35%;
  left: 61%;
}

.IOH:active .H_2 {
  top: 35%;
  left: 69%;
}

.IOH:active .H_3 {
  top: 35%;
  left: 77%;
}

.box, .block {
  border: solid 2px;
}

.box {
  width: 850px;
  height: 300px;
  position: relative;
  background-color: gray;
}

.block {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

.block1 {
  left: 120px;
  animation: ani1 2s infinite;
}

.block2 {
  left: 300px;
  animation: ani2 2s infinite;
}

.block3 {
  left: 450px;
  animation: ani3 2s infinite;
}

.block4 {
  left: 600px;
  animation: ani4 2s infinite;
}

.block5 {
  left: 750px;
  animation: ani5 2s infinite;
}

@keyframes ani1 {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: 0px;
    background-color: red;
  }
  100% {
    bottom: 100px;
  }
}
@keyframes ani2 {
  0% {
    bottom: 100px;
  }
  30% {
    background-color: white;
    transform: rotate(0deg);
  }
  50% {
    bottom: 0px;
    background-color: blue;
    transform: rotate(180deg);
  }
  70% {
    background-color: white;
    transform: rotate(0deg);
  }
  100% {
    bottom: 100px;
  }
}
@keyframes ani3 {
  0% {
    bottom: 100px;
    transform: scale(1);
  }
  30% {
    background-color: white;
  }
  50% {
    bottom: 0px;
    transform: scale(0.5);
    background-color: yellow;
  }
  70% {
    background-color: white;
  }
  100% {
    bottom: 100px;
    transform: scale(1);
  }
}
@keyframes ani4 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(50px, 0px);
    background-color: green;
  }
  40% {
    transform: translate(50px, -50px);
    background-color: white;
  }
  60% {
    transform: translate(0px, -50px);
    background-color: green;
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ani5 {
  0% {
    transform: skewX(20deg);
    transform-origin: 0% 100%;
    background-color: orange;
  }
  50% {
    transform: skewX(-20deg);
    transform-origin: 0% 100%;
  }
  100% {
    transform: skewX(20deg);
    transform-origin: 0% 100%;
  }
}


/*.IOH .V {
  z-index: 10000;
}*/

/*IOH 測試*/
